body {
  background-size: cover;
  height: 100vh;
}

p {
  font-size: 16pt;
}

a {
  color: rgb(255, 188, 14);
  font-size: 16pt;
  font-style: normal;
}

a:hover {
  color: white;
  background-color: rgb(255, 188, 14);
}

#bg7 {
  background-image: url(Sources/break.jpg);
}

#bg8a {
  background-image: url(Sources/snacks.jpg);
}

#bg8b {
  background-image: url(Sources/read.jpg);
}

#bg8c {
  background-image: url(Sources/swing.jpg);
}

#bg9a {
  background-image: url(Sources/bathroom.png);
}

#bg9b {
  background-image: url(Sources/apples.jpg);
}

#bg10 {
  background-image: url(Sources/mathclass.jpg);
}
